template(name='buildings')
    .ui.stackable.padded.grid
        each buildings
            .four.wide.column
                a(href="/building/#{slug}")
                    .ui.segment.home_segment
                        //- img.ui.rounded.image(src="{{c.url image width=400 height=200 crop='fill'}}")
                        .ui.large.header #{building_code}
                            each building_numbers
                                .ui.basic.label #{this}
                        .ui.grey.small.header #{building_street}
                
                
template(name='building')
    .ui.padded.stackable.grid
        .ui.three.wide.column
            a.ui.compact.button(href="/buildings")
                i.chevron.left.icon
                +i name='apartment' classes='ui inline mini image'
                |buildings
            if is_dev
                .ui.icon.input
                    i.home.icon
                    input.unit_number(type='number' placeholder='unit number')
                .ui.icon.input
                    i.building.icon
                    input.building_number(type='number' placeholder='unit building number')
                .ui.icon.input
                    i.header.icon
                    input.building_label(type='text' placeholder='unit building label')

            h1.ui.header building #{building.building_code}
            each building.building_numbers
                .ui.basic.label #{this}
        .ui.thirteen.wide.column
            .ui.four.cards
                each units
                    +unit_card

    
template(name='unit_card')
    //- a(href="/unit/#{_id}")    
    a.ui.card(href="/unit/#{_id}")
        .content
            .ui.large.header #{unit_number}
            //- .ui.small.header building #{building_code}
            //- a.ui.large.button(href="/unit/#{_id}")
            //-     i.yellow.right.chevron.icon
            div
            +i name='rent'
            each owners
                .ui.basic.label
                    if image_id
                        img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                    |#{first_name} #{last_name}
            div
            +i name='home'
            each residents
                .ui.basic.label
                    if image_id
                        img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                    |#{first_name} #{last_name}
            div
            +i name='badge'
            each permits
                .ui.basic.label #{license_plate}
            if is_dev
                +number_edit key='building_number' direct=true
                +number_edit key='unit_number' direct=true
                    
