template(name='front')
    .ui.padded.stackable.grid
        .row
            .sixteen.wide.center.aligned.column
                img.ui.small.inline.image(src="{{c.url 'igg'}}")
                .inline.firstorder.f10(title='in the time before time, when nothing existed, there was only the tree yggdrasil & the void')
                    |yggdrasil
        .three.column.row    
            .column
                .firstorder.f9 alfheim
            .column
                .firstorder.f9 asgard
            .column
                .firstorder.f9 vanaheim
        .three.column.row    
            .column
                .firstorder.f9 muspelheim
            .column
                .firstorder.f9 midgard
            .column
                .firstorder.f9 nifelheim
        .three.column.row    
            .column
                .firstorder.f9 jutenheim
            .column
                .firstorder.f9 helheim
            .column
                .firstorder.f9 svartelfheim
        img.ui.centered.rounded.image(src="https://www.ancient-code.com/wp-content/uploads/2014/10/10559961_545146758944245_4763288013922299078_n.jpg")





template(name='gr_post_doc_view')
    +image_view key='image' direct=true
    +html_view key='content' direct=true
    //- +array_view key='tags' direct=true



template(name='company_doc_view')
    +image_view key='logo' direct=true
    +html_view key='content' direct=true
    //- +array_view key='tags' direct=true


template(name='group_doc_view')
    +text_view key='title' direct=true
    +image_view key='image' direct=true
    +html_view key='content' direct=true
    +array_view key='tags' direct=true


template(name='ad_doc_view')
    +image_view key='image' direct=true
    +html_view key='content' direct=true
    //- +array_view key='tags' direct=true


template(name='library_doc_view')
    +image_view key='image' direct=true
    +html_view key='content' direct=true
    //- +array_view key='tags' direct=true


template(name='for_rent_doc_view')
    +image_view key='image' direct=true
    +html_view key='content' direct=true
    //- +array_view key='tags' direct=true

template(name='free_doc_view')
    +image_view key='image' direct=true
    +html_view key='content' direct=true
    //- +array_view key='tags' direct=true


template(name='business_doc_view')
    +image_view key='image' direct=true
    +html_view key='content' direct=true
    //- +array_view key='tags' direct=true



template(name='event_doc_view')
    +text_view key='title' direct=true
    +image_view key='image' direct=true
    +html_view key='description' direct=true
    //- +array_view key='tags' direct=true



template(name='shop_doc_view')
    +image_view key='picture' direct=true
    +html_view key='description' direct=true
    +number_view key='karma_price' direct=true
    //- +array_view key='tags' direct=true



template(name='photo_doc_view')
    img.ui.image(src="{{c.url image width=400 height=400 gravity='face' crop='fill'}}")
        
        
template(name='model_scroller')
    .ui.smoothed.segment
        a.ui.inline.header.go_to_model(href="/m/#{model}")
            if icon 
                +i name=icon
                //- i.ico/n(class=icon)
            |#{header}
        //- if can_go_left            
        .ui.icon.button.go_left(class="{{#unless can_go_left}}disabled{{/unless}}")
            i.left.chevron.icon
        //- if can_go_right
        .ui.icon.button.go_right(class="{{#unless can_go_right}}disabled{{/unless}}")
            i.right.chevron.icon
        with current_doc
            +Template.dynamic template=model_doc_template
            //- if currentUser
            +view_button
                
    

template(name='healthclub_status')
    .ui.basic.segment
        .ui.inline.header
            i.red.ban.icon
            |upper hot tub
        div
        .ui.inline.header
            i.green.checkmark.icon
            |lower hot tub
        //- .ui.grey.inline.header
        //-     |100.2°
        div
        .ui.inline.header
            i.green.checkmark.icon
            |pool
        //- .ui.grey.inline.header
        //-     |80.1°
