template(name='give')
    .m-b-md
        if title
            h4.pull-left
                strong {{title}}
                br
        else
            if subtitle
                h4.pull-left
                    strong {{subtitle}}
                    br
    .m-b-md.donationTracker
    .ui.segment
        // if isPhone
        //     .row
        //         #scanBtn.btn.btn-info.pull-right Scan Card
        form#giveForm.giveFormNoCC(action='#')
            .row
                .form-group.col-lg-12.card_data
                    label Name
                    input#givername.form-control(type='text' name='givername')
                .form-group.col-lg-12.card_data
                    label Email address (required to receive receipt)
                    input#email.form-control(type='text' name='email')
                .form-group.col-lg-12
                    label Amount
                    br
                    button.ui.button.btnBlockAmount(type='button' data-value='3') $3
                    button.ui.button.btnBlockAmount(type='button' data-value='5') $5
                    button.ui.button.btnBlockAmount(type='button' data-value='10') $10
                    button.ui.button.btnBlockAmount(type='button' data-value='15') $15
                    button.ui.button.btnBlockAmount(type='button' data-value='20') $20
                    button.ui.button.btnBlockAmount(type='button' data-value='25') $25
                    button.ui.button.btnBlockAmount(type='button' data-value='50') $50
                    button.ui.button.btnBlockAmount(type='button' data-value='100') $100
                    button.ui.button.btnBlockAmount(type='button' data-value='other') Other
                    .editable-input(style='position: relative;')
                        input#amount.form-control.inputAmount(type='text' style='padding-right: 24px;' name='amount')
                        span.editable-clear-x.inputAmount
                if currentUser
                    // .form-group.col-lg-6.checkbox
                    //     label Repeat this Gift
                    //     input#repeat.i-checks(type='checkbox')
                    #repeat.ui.fluid.button(class="{{#if repeating}} blue {{/if}}")
                        i.refresh.icon
                        |Repeat this Gift
        
                    .form-group.col-lg-6
                        if repeating
                            select#repeat_type.form-control(name='repeat_type')
                                option(value='0')
                                    i select an option
                                option(value='monthly') every month
                                option(value='bi-weekly') every two weeks
                                option(value='weekly') every week
                if cardCount
                    .form-group.col-lg-12
                        label(for="card_select") Select Card
                        select#card_select.form-control(name='card_select')
                            option(value='')
                                i select a card
                            option(value='NEW') NEW CARD
                    each mycards
                        option(value=cardid) #{brand} #{last4} (exp. #{exp_month}/#{exp_year})
                // .form-group.col-lg-12.card_data
                //     label Card
                .ui.button.add_card add card
                .ui.button.print print
                form#payment-form.ui.form
                    .field
                        // label(for='card-element')
                        //     | Credit or debit card
                        #card-element
                        // A Stripe Element will be inserted here.
                        // Used to display Element errors.
                        #card-errors(role='alert')
                    button.ui.blue.button(type='submit') Submit Payment
                // input#card.form-control(type='number' name='card')
            
                // .form-group.col-md-12.card_data
                //     .col-md-2
                //         label Exp.
                //     .col-md-5
                //         select.form-control.m-b(name='month')
                //             each monthDDL
                //                 option(value="{{this.value}} {{isCurrentMonth this.value}}") #{this.text}
                //     .col-md-5
                //         select.form-control.m-b(name='year')
                //             each yearDDL
                //                 option(value=value) #{this.text}
                // .form-group.col-md-12
                //     label CVV
                //     input#cvc.form-control(type='number' name='cvc')
            .ui.hidden.divider
            button#give.ui.fluid.green.button
                | buy
                span.total
                i.sent.icon
