template(name='healthclub')
    img.ui.fluid.image.checkin_banner(src="{{c.url 'grfront' width=1000 height=1000 crop='crop'}}")
    //- .ui.padded.stackable.grid.header-wrapper(class=invert_class)
    .ui.padded.stackable.grid.header-wrapper
        .sixteen.wide.column
            if is_staff
                a.ui.button(href='/staff')
                    i.left.chevron.icon
                    |staff
            h1.ui.center.aligned.header
                |health club check in
            //- if is_admin
            //- .ui.left.icon.massive.fluid.input
            //-     input.barcode_entry(type='text' placeholder='barcode input...' autofocus)
            //-     i.qrcode.icon
            //- .ui.horizontal.divider or
            .ui.left.icon.massive.fluid.input
                input.username_search(type='text' placeholder='lookup resident...' autofocus)
                if is_query
                    i.remove.link.icon.clear_results
                else 
                    i.user.icon
            .ui.center.aligned.basic.segment.test
                if checkedout_members.length
                    each checkedout_members
                        +checkin_button
                else
                    if checking_in
                        if is_query
                            .ui.center.aligned.header no members found
                            .ui.center.aligned.header please see staff to add
                            //- +add_resident
                //- unless is_query   
                //-     h1.ui.center.aligned.header
                //-         |#{checkedin_members.count} checked in members
                //-     .ui.divided.items
                //-         each checkedin_members
                //-             .ui.item
                //-                 //- img.ui.small.circular.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                //-                 .middle.aligned.content
                //-                     .ui.header #{first_name} #{last_name}
                //-                 .extra.middle.aligned.content
                //-                     .right.floated
                //-                         +checkin_button
    
            .ui.padded.grid
                .two.column.row
                    .column
                        +document_view key='health_club_notices'
                        +health_club_info
                    .column
                        +healthclub_status
                        .ui.header hours
                        .ui.big.list
                            .item mon 7a-10p
                            .item tues 7a-10p
                            .item wed 7a-10p
                            .item thur 7a-10p
                            .item fri 7a-9p
                            .item sat 8a-9p
                            .item sun 8a-10p
                        
template(name='add_resident')
    .ui.stackable.padded.grid
        .centered.row
            .eight.wide.column
                h1.ui.center.aligned.header
                    +i name='add user male'
                    | resident
                .ui.big.form
                    .field
                        input#first_name(type='text' placeholder='first name' autocomplete='off')
                    .field
                        input#last_name(type='text' placeholder='last name' autocomplete='off')
                    //- .field
                    //-     |Username
                    //-     input#username(type='text')
                if permission
                    .ui.fluid.green.big.button.create_resident
                        |create resident
        
        
template(name='sign_waiver')
    with receipt_doc
        .ui.stackable.padded.grid
            .centered.row
                .twelve.wide.column.scrolling
                    .row
                        h1.ui.center.aligned.header
                            i.user.plus.icon
                            |sign waiver
                        with waiver_doc
                            |!{html}
                        +signature
                        .ui.fluid.green.button.sign_waiver
                            | sign waiver



template(name='checkin_button')
    unless is_staff
        //- unless healthclub_checkedin
        .ui.massive.basic.button.checkin
            h1.ui.header #{first_name} #{last_name}
        //- if healthclub_checkedin
        //- if is_staff
        //- else
        //-     .ui.big.basic.button.checkout
        //-         i.sign.out.icon
        //-             //- +i name='exit-sign' classes='ui avatar image'
        //-             |check out
    if is_staff
        if healthclub_checkedin
            .ui.basic.button.checkout
                i.sign.out.icon
                //- +i name='exit-sign' classes='ui avatar image'
                |health club check out
        else
            .ui.large.basic.button.new_hc_session
                .ui.header
                    small check in
                    strong #{first_name} #{last_name}



template(name='health_club_info')
    .ui.stackable.grid.f5
        .two.column.inverted.row
            .column
                .ui.header wifi
                .ui.grey.header Gold Run Health Club / goldrun1
                .ui.header upstairs code: 4589
                .ui.header colorado security services
                .ui.grey.header 303-443-3701
            .column
                .ui.header onsite manager
                .ui.grey.header Rick Hamp 
                .ui.grey.header 303-545-1787
                .ui.grey.header goldruncondos@gmail.com
                .ui.header after hours emergency
                .ui.grey.header 303-221-1117
                .ui.header boulder valley towing
                .ui.grey.header 303-444-4868


template(name='checkin_card')
    img.ui.fluid.image.checkin_banner(src="{{c.url 'grfront' width=1000 height=1000 crop='crop'}}")
    with session_document
        //- .ui.padded.stackable.grid
        //- .ui.padded.middle.aligned.grid.header-wrapper(class=resident_status_class)
        .ui.padded.middle.aligned.grid.header-wrapper
            unless session_document.submitted
                .two.column.row
                    .column
                        //- if is_staff
                        //- a.ui.header(href="/user/#{user.username}")
                        .ui.large.icon.basic.button.cancel_checkin
                            i.big.left.chevron.icon
                        if kiosk_photo
                            +image_view key='kiosk_photo' label='Photo' direct=true
                            +image_edit key='kiosk_photo' label='please click below to take new photo' direct=true
                        else
                            +image_edit key='kiosk_photo' label='please click below to take new photo' direct=true
                        img.ui.medium.circular.image(src="{{c.url user.image_id width=500 height=500 gravity='face' crop='fill'}}")
                        //- .meta @#{user.username}
                        //- +array_view key='tags' label='Tags' direct=true
                    .column
                        .ui.huge.inline.header(href="/user/#{user.username}")
                            |#{user.first_name} #{user.last_name} 
                        if adding_guests
                            .ui.header 
                                //- +i name='groups'
                                i.users.teal.icon
                                |guests
                            //- //- .ui.hidden.divider
                            .ui.small.inline.header recent guests
                            each resident_guests
                                .ui.big.basic.teal.button.add_recent_guest #{guest_name} #{first_name} #{last_name}
                            div
                            .ui.big.basic.button.add_guest
                                i.plus.icon
                                strong new guest
                            +multi_doc_input key='guests' ref_model='guest' title='lookup previous...' direct=true
                            div
                            with checking_in_doc
                                if checkin_guest_docs
                                    .ui.inline.header guests for this session
                                    each checkin_guest_docs
                                        .ui.big.teal.basic.button.remove_guest 
                                            i.remove.icon
                                            |#{guest_name} #{first_name} #{last_name}
                        else
                            .ui.big.basic.fluid.button.toggle_adding_guest 
                                i.plus.large.icon
                                |guest
                        +email_validation_check
                        +lease_expiration_check
                        +rules_and_regs_check  
                .row
                    .sixteen.wide.column
                        if rules_signed
                            .ui.big.fluid.basic.button.healthclub_checkin
                                //- +i name='treadmill' classes='ui inline image'
                                .ui.inline.header 
                                    +i name='treadmill'
                                    | health club check in
                                    //- i.right.chevron.icon
                            .ui.big.fluid.basic.button.garden_key_checkout
                                +i name='basketball' classes='ui inline image'
                                .ui.inline.header court key check out
                                //- i.right.chevron.icon
                            .ui.big.fluid.basic.button.unit_key_checkout
                                +i name='key' classes='ui inline image'
                                .ui.inline.header unit key check out
                                //- i.right.chevron.icon
                            //- .ui.big.fluid.basic.button.unit_key_checkout
                            //-     +i name='calendar' classes='ui inline image'
                            //-     .ui.inline.header event signup
                            //-     //- i.right.chevron.icon
                        else 
                            .ui.big.fluid.red.basic.button.sign_rules
                                //- +i name='treadmill' classes='ui inline image'
                                .ui.inline.header 
                                //- +i name='treadmill'
                                | please sign rules and regs
                                i.right.chevron.icon
            if session_document.submitted
                unless session_document.approved
                    .centered.row
                        .twelve.wide.column
                            .ui.header request submitted, awaiting staff approval        
                if session_document.approved
                    .centered.row
                        .twelve.wide.column
                            .ui.header 
                                i.green.checkmark.icon
                                |request approved        
                    
