template(name='home')
    //- h1.ui.center.aligned.grey.header 
    //-     each currentUser.roles
    //-         strong #{this} &nbsp;
    //-     |portal
    .ui.stackable.four.column.padded.grid
        each role_models
            .column
                a(href="/m/#{slug}")
                    .ui.segment.home_segment.set_model
                        .ui.grey.header 
                            //- i.icon(class=icon)
                            +i name=icon
                            |#{title}


//- 
//- template(name='home')
//-     .ui.grid
//-         .eight.wide.column
//-             .ui.header marketplace
//-             each marketplace_items
//-                 +marketplace_item
//-         .eight.wide.column
//-             .ui.header posts
//-             each posts
//-                 +post
