template(name='shop_card')
    .ui.stackable.divided.grid
        .centered.row
            .sixteen.wide.column
                a.pointer(href="/shop/#{_id}/view")
                    img.ui.centered.rounded.image(src="{{c.url picture width=300 height=200 crop='fit'}}")
        .row
            .sixteen.wide.column
                a.ui.small.grey.header(href="/shop/#{_id}/view") #{title}
        .row
            .sixteen.wide.column
                //- +i name='tags' classes='ui mini inline image'
                //- each tags
                //-     .ui.basic.label #{this}
                //- div
                //- +i name='marker' classes='ui mini inline image'
                //- each location_tags
                //-     .ui.basic.label #{this}
                //- .ui.basic.animated.fade.button.add_to_cart(title="#{karma_price} karma, click to add to cart")
                //-     .visible.content
                //-         .ui.header #{karma_price}k
                //-     .hidden.content
                //-         i.cart.plus.green.large.icon
                .ui.header $#{dollar_price}
                //- .ui.basic.animated.fade.button.add_to_cart(title="click to add to cart")
                //-     .visible.content
                //-         .ui.header 
                //-             if dollar_price
                //-                 |$#{dollar_price}
                //-             else
                //-                 |free
                    .hidden.content
                        i.cart.plus.green.large.icon
                a.ui.basic.icon.button(href="/shop/#{_id}/view")
                    +i name='chevron right' classes='ui mini image'
                if can_edit
                    a.ui.basic.button(href="/shop/#{_id}/edit")
                        +i name='pencil' classes='ui mini image'
                    //- +edit_button


template(name='add_karma')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.header add karma
        .twelve.wide.column
            +add_karma_amount amount=1000 price=10
            +add_karma_amount amount=2250 price=20
            +add_karma_amount amount=5500 price=50
            +add_karma_amount amount=1100 price=100
            
            
template(name='add_karma_amount')            
    .ui.segment.pointer.add_karma_amount
        .ui.header #{amount } karma for $#{price}





template(name='shop_edit')
    with current_doc
        .ui.stackable.padded.grid
            .eight.wide.column
                a.ui.massive.basic.icon.button(href="/shop/#{_id}/view")
                    i.big.green.checkmark.icon   
                a.ui.massive.basic.icon.button(href="/m")
                    i.big.red.remove.icon   
                     
                .ui.header #{title}
                +text_edit key='title' icon='header' direct=true
                +array_edit key='tags' icon='tags' direct=true
                //- +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                //- +dollar_price_edit key='karma_price' icon='yin-yang' label='karma price' direct=true
                +dollar_price_edit key='dollar_price' icon='money' label='dollar price' direct=true
                //- +date_edit key='date_available' icon='calendar' label='date available' direct=true
                //- +time_edit key='time_available' icon='clock' label='time available' direct=true
                +single_doc_edit key='shop_type' label='shop type'
                +omega_edit model='shop_type'
                
            .eight.wide.column
                +image_edit key='picture' direct=true
                +html_edit key='description' direct=true


template(name='omega_edit')
    .ui.header 1: #{model}
    each model_docs
        .ui.button.select_child(class=child_selector_class)
            if icon 
                +i name=icon
            |#{slug}
    .ui.divider
    if omega_selection_doc
        |#{omega_selection_doc.slug}
        .ui.button.edit_selection_doc
            |edit selection doc
        div
        each omega_selection_doc.child_models
            .ui.label #{this}
            +subomega_edit submodel=this
    //- +single_doc_edit key=model ref_model=model label=model direct=true

template(name='subomega_edit')
    each submodel_docs
        .ui.button.select_child(class=child_selector_class)
            if icon 
                +i name=icon
            |#{slug}
    .add_new_submodel_doc.ui.button
        i.plus.icon
        |new #{submodel} doc
    .edit_parent_model_doc.ui.button
        i.plus.icon
        |edit #{parent_model.slug} doc
        //- |#{submodel}
    //- +subomega_edit submodel=sub_submodel
        


template(name='shop_view')
    with current_doc
        .ui.stackable.padded.grid
            //- img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
            .six.wide.column
                img.ui.large.centered.rounded.image(src="{{c.url picture width=1000 height=400 crop='fit'}}")
            .six.wide.column
                .ui.header #{title}
                +html_view key='description' direct=true
                .ui.header author #{_author_username}
                with _author_id
                    +user_card
                +array_view key='tags' icon='tags' direct=true
                //- +array_view key='location_tags' label='location tags' icon='marker' direct=true
                +dollar_price_view key='dollar_price' icon='money' label='dollar price' direct=true
                //- +karma_price_view key='karma_price' icon='yin-yang' label='karma price' direct=true
                +date_view key='date_available' label='date available' icon='calendar' direct=true
                +time_view key='time_available' label='time available' icon='clock' direct=true
                +product_transactions
            .four.wide.column
                a.ui.large.icon.basic.button(href="/shop/#{_id}/edit")
                    i.pencil.icon
                //- +reservations
                +comments
                with current_doc
                    +voting_full
                    //- .ui.header similar shops
                    //- .ui.header alerts
                    //- |alergen alert
                    //- |#{alergen_alert}


template(name='product_transactions')
    .ui.header 
        +i name='cashbook'
        |transactions
    each product_transactions
        .ui.segment
            +creation_info
            +author_info
            if is_author
                +textarea_edit key='dropoff_instructions' label='dropoff instructions (private)' direct=true
                .ui.divider
                +image_view key='dropoff_photo' label='drop off photo' direct=true
                +datetime_view key='dropoff_datetime' label='drop off datetime' direct=true
                .ui.divider
                +array_edit key='review_tags' label='review tags' icon='tags' direct=true
                +voting
            else
                +array_view key='tags' label='tags' icon='tags' direct=true
            .ui.divider
            if is_admin
                +image_edit key='dropoff_photo' label='drop off photo' direct=true
                +datetime_edit key='dropoff_datetime' label='drop off datetime' direct=true
                
