template(name='rules_signing')
    with signing_doc
        .ui.container
            +document_view key='rules_regs'
            +user_card resident
            .ui.small.header
                +i name='reading-confirmation'
                |valid email address for receipt
            .ui.header #{resident_doc.username}
            +emails_edit    
            //- .ui.fluid.action.input
            //-     input.email_value(type='text' value=resident_email)
            //- div
            //- .ui.green.big.button.confirm_email confirm email
            if resident_email
                //- .ui.header I agree to the rules and regulations
                //-     if agree
                //-         i.huge.checkmark.green.link.icon.agree
                //-     else
                //-         i.huge.circle.outline.grey.link.icon.agree
                //- if agree
                .ui.small.header by signing below you agree to the rules and regulations and acknolwedge receipt via a valid email address
                if signature_saved
                    +signature_view key='signature' direct=true
                    i.pencil.large.icon.edit_signature
                else
                    +signature_edit key='signature' direct=true
                if signature_saved
                    .ui.big.green.fluid.button.submit_rules
                        | submit signing
                        i.right.chevron.icon



template(name='download_rules_pdf')
    .ui.header downloading rules pdf...
    with downloading_user
        +rules_and_regs_check
    .ui.massive.basic.button.download_rules_pdf
        i.download.icon
        |download rules pdf    


template(name='add_guest')
    with new_guest_doc
        .ui.fluid.big.basic.button.cancel_new_guest
            i.left.chevron.basic.icon
            |back to check in
        +document_view key='guest_waiver'
        //- .ui.inline.header guest of
        //-     +user_card resident
        +text_edit key='guest_name' label='guest name' direct=true
        //- +text_edit key='first_name' label='First Name' direct=true
        //- +text_edit key='last_name' label='Last Name' direct=true
        +text_edit key='guest_phone' label='guest phone' direct=true
        +text_edit key='emergency_contact_name' label='emergency contact name' direct=true
        +text_edit key='emergency_contact_phone' label='emergency contact phone' direct=true
        .ui.header I agree to the guest waiver terms
            if agree
                i.huge.checkmark.green.link.icon.agree
            else
                i.huge.circle.outline.grey.icon.agree
        if agree
            .ui.header please sign below
            if signature_saved
                +signature_view key='signature' direct=true
                i.pencil.large.icon.edit_signature
            else
                +signature_edit key='signature' direct=true
            if signature_saved
                .ui.big.green.fluid.button.submit_guest
                    | submit
                    i.right.chevron.icon
