template(name='staff')
    .ui.stackable.padded.grid
        .four.wide.column
            h1.ui.center.aligned.grey.header 
                //- i.user.shield.icon
                +i name='manager'
                |staff
            //- i.massive.loading.brown.poo.icon
            a.ui.fluid.big.compact.basic.button(href='/add_resident')
                //- i.user.add.large.icon
                +i name='add-user-male' classes='ui inline image'
                strong add resident
            .ui.header
                |#{checkedin_members.count} checked in members
            +add_button model='work_order' label='work order'
            +add_button model='communication' label='communication'
            +add_button model='frontdesk_hourly_checklist' label='hourly checklist'
            +add_button model='front_desk_opening_closing_checklist' label='opening/closing checklist'
            +unit_key_widget
            
        .eight.wide.column
            .ui.stackable.cards
                each sessions
                    +hc_session
            //- .ui.header checked in members
            //- each checkedin_members
            //-     +big_user_card username
    //- .ui.stackable.padded.grid
    //-     .three.column.row
    //-         .column
    //-             +task_widget
    //-         .column
    //-             +wywo
    //-         .column
    //- //- .ui.header current health club checked in
    //- //- each active_healthclub_sessions
    //- //-     .ui.header this
    //- //- .ui.header current court keys checked out
    //- //- each court_key_sessions
    //- //-     .ui.header this
    //- //- .ui.header checklist reminders
    //- //- each court_key_sessions
    //- //-     .ui.header this
    //- 
    //- +model_docs_crud model='communication'
    +kiosk_settings
    +schedule
    //- +shift_change_requests
    //- +view_chats
    
    

template(name='hc_session')
    .ui.segment
        .ui.inline.header
            +i name=icon_class
            |#{session_resident.first_name} #{session_resident.last_name}
        with session_resident
            img.ui.circular.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                
        .ui.small.grey.header #{when}
        +boolean_edit key='active' direct=true
        +boolean_edit key='approved' direct=true
        
        //- unless confirmed
        .ui.fluid.green.button
            |confirm check in



template(name='unit_key_widget')
    .ui.segment 
        .ui.header 
            i.yellow.key.icon
            |unit key lookup
        .ui.icon.large.fluid.input
            i.building.icon
            input.building_number(type='number' placeholder='building number')
        .ui.icon.large.fluid.input
            i.home.icon
            input.unit_number(type='number' placeholder='unit number')
        .ui.fluid.button.lookup_key
            |lookup key


template(name='task_widget')
    .ui.smoothed.segment
        .ui.header 
            //- +i name='task'
            i.tasks.teal.icon
            |todos
        //- .ui.fluid.styled.accordion
        +goto_model slug='task'
        .ui.icon.basic.button.new_task
            i.plus.icon
            //- input.assign_task(type='text' placeholder='assign task...')
        //- .ui.basic.button.view_complete(class=view_complete_class)
        //-     |View Completed
        // .ui.basic.button.view_incomplete(class=view_complete_class)
        //     |View Incomplete
        each tasks
            .ui.smoothed.segment
                .ui.header #{body}
                +boolean_edit key='complete' label='Complete' direct=true true_icon='checkmark' false_icon='remove' icon_only=true
                //- +voting
                +author_info
                +creation_info
                if is_author
                    +remove_button
    
    
    
    
    
    
template(name='wywo')
    .ui.smoothed.segment
        .ui.header 
            //- +i name='note'
            i.orange.edit.icon
            |while you were out
        


template(name='schedule')
    //- .ui.center.aligned.header 
    //-     i.calendar.icon
    //-     |schedule
    table.ui.definition.celled.striped.selectable.table
        thead
            tr
                th
                th sunday
                th monday
                th tuesday
                th wednesday
                th thursday
                th friday
                th saturday
        tbody
            tr
                td morning 7am-12pm
                td 
                    +facet_staff_select tags='shift,sunday,morning'
                td 
                    +facet_staff_select tags='shift,monday,morning'
                td 
                    +facet_staff_select tags='shift,tuesday,morning'
                td 
                    +facet_staff_select tags='shift,wednesday,morning'
                td 
                    +facet_staff_select tags='shift,thursday,morning'
                td 
                    +facet_staff_select tags='shift,friday,morning'
                td 
                    +facet_staff_select tags='shift,saturday,morning'
            tr
                td afternoon 12pm-4pm
                td 
                    +facet_staff_select tags='shift,sunday,afternoon'
                td 
                    +facet_staff_select tags='shift,monday,afternoon'
                td 
                    +facet_staff_select tags='shift,tuesday,afternoon'
                td 
                    +facet_staff_select tags='shift,wednesday,afternoon'
                td 
                    +facet_staff_select tags='shift,thursday,afternoon'
                td 
                    +facet_staff_select tags='shift,friday,afternoon'
                td 
                    +facet_staff_select tags='shift,saturday,afternoon'
            tr
                td evening 4pm-9pm
                td 
                    +facet_staff_select tags='shift,sunday,evening'
                td 
                    +facet_staff_select tags='shift,monday,evening'
                td 
                    +facet_staff_select tags='shift,tuesday,evening'
                td 
                    +facet_staff_select tags='shift,wednesday,evening'
                td 
                    +facet_staff_select tags='shift,thursday,evening'
                td 
                    +facet_staff_select tags='shift,friday,evening'
                td 
                    +facet_staff_select tags='shift,saturday,evening'


template(name='shift_change_requests')
    .ui.grey.inline.header
        +i name='clock'
        |shift change requests
    .ui.icon.basic.button.add_shift_change_request
        i.large.icons
            i.clock.icon
            i.plus.corner.icon
    table.ui.celled.fixed.unstackable.table
        thead
            tr
                th date
                th time
                th author
                th assigned staff
                th 
        tbody
            each requests
                +request_row
                
                
template(name='request_row')
    tr
        td(data-label='Date')
            if can_edit
                +date_edit key='date' direct=true
            else
                +date_view key='date' direct=true
        td(data-label='Time')
            if can_edit
                +time_edit key='time' direct=true
            else
                +time_view key='time' direct=true
        td(data-label='Author')
            +author_info
        td(data-label='Assigned Staff')
            //- if can_edit
            //-     +single_user_edit key='assigned_staff' role_filter='staff' direct=true
            //- else
            +username_info assigned_staff
        td(data-label='Actions')
            .ui.icon.basic.button.take_shift(title='take shift')
                i.checkmark.icon
            .ui.icon.basic.button.declare_unavailable(title='declare unavailable')
                i.ban.icon
            each unavailable
                .ui.label(title='unavailable') #{this}
            if can_edit
                +remove_button
