template(name='timecard')
    .ui.segment
        .ui.horizontal.divider.header 
            i.wait.icon
            |Timecard
        +check_in_button
        ul.ui.divided.list
            each logs
                .item
                    .center.aligned.header
                        if is_in
                            i.green.sign.in.big.icon
                        |#{date_format}
                        unless is_in
                            i.red.sign.out.big.icon
                    span.right.floated
                        i.red.remove.link.icon.delete_entry
                    // .meta
                    //     each tags 
                    //         .ui.basic.label #{this}
        .ui.horizontal.divider.header Totals
        .ui.header Monthly Day Usage: #{monthly_day_usage}
        // .ui.header Monthly Day Allotment: #{day_allotment}
        // .ui.header Days Left: #{monthly_day_comparison}
        
        // .ui.header Check-ins this month: #{checkins_this_month}
        // .ui.header Total Time this month
        // p This Month: #{this_month}
    
